
<div style="text-align: center;">
  <h1>Welcome Ahmad</h1>
  <button (click)="button()" type="button" class="btn btn-primary">Press Me</button>
  <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fi.imgflip.com%2F25c07a.jpg%3Fa454248&imgrefurl=https%3A%2F%2Fimgflip.com%2Fmemegenerator%2F129890566%2FSubway-Bag-Kid&tbnid=bZ1FeYOU2NFyoM&vet=12ahUKEwjr2qbCi7D0AhULPK0KHYKECUsQMygCegQIARA9..i&docid=afODzi1uTlqICM&w=456&h=315&q=kid%20with%20subway%20bag%20on%20head&ved=2ahUKEwjr2qbCi7D0AhULPK0KHYKECUsQMygCegQIARA9" alt="STONKS" width="500" height="500">
</div>